{% extends "layout.html" %}
{% block body%}
{% if message %}
<div class="alert alert-primary">
    {{message}}
</div>
{% endif %}
<div>
    <div id="profile">
        <div id="left">
            <h1 style="border-bottom: 2px solid rgb(141, 141, 141); border-radius: 8px; padding-left: 96px; padding-right: 96px;">{{name}}'s Profile</h1>
            <div style="display: flex; flex-direction: row; gap: 36px; align-items: center;">
                <img src="{{ url_for('static', filename='files/' + filename) }}" class="avatar">
                <div>
                    <div>
                        <h2 style="font-size: 15px;">Upload new profile photo</h2>
                        <form method="post" enctype="multipart/form-data">
                            {{form.hidden_tag()}}
                            {{form.file()}}
                            {{form.submit()}}
                        </form>
                    </div>
                    <div>
                        <label class="labels" style="text-align: left !important;">Username</label>
                        <input type="text" placeholder="{{name}}" name="username" class="form-control mx-auto w-auto" disabled>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}